.App {
  width: 100%;
  height: 100vh;
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px 30px;
}

table {
  border: 2px solid #0492c2;
  width: 600px;
  height: 200px;
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}

.tableBody {
}

.logoutButtonBody {
  float: right;
}

.logoutButton {
  width: 100px;
  margin-right: 115px;
  margin-top: auto;
  height: 40px;
  font-style: italic;
  background-color: #d3d3d3;
  border-radius: 5px;
  border-width: 1px;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.selectorTable {
  display: flex;
  flex-direction: column;
  width: 800px;
  justify-content: s;
}
